---
// Supports weights 400-900
import "@fontsource-variable/playfair-display";
import "../styles/global.css";

interface Props {
  title: string;
}
const { title = "UNIÓN FEMENIL BAUTISTA MISIONERA COLOMBIANA" }: Props =
  Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../public/logo-femenil.png"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Unión Femenil Bautista Misionera Colombiana - Enfocadas en Cristo para avanzar en unidad"
    />
    <meta
      name="keywords"
      content="Unión Femenil, Bautista, Misionera, Colombiana, fe, servicio, comunidad"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    /* color-scheme: light dark; */
  }

  html {
    font-family: "Courier New", Courier, monospace;
  }

  body {
    background-color: #f5f4f0;
    font-family: "Playfair Display Variable", serif;
  }
</style>
